body {
    margin: 0;
    padding: 0;
    background-color: #00aac9;
    height: 100vh;
}
#login .container #login-row #login-column #login-box {
    margin-top: 120px;
    max-width: 600px;
    height: 320px;
    border: 1px solid #9C9C9C;
    background-color: #EAEAEA;
}
#login .container #login-row #login-column #login-box #login-form {
    padding: 20px;
}
#login .container #login-row #login-column #login-box #login-form #register-link {
    margin-top: -85px;
}

.thumbnail {
    position: relative;
}
.thumbnail img {
    width: 100%;
}
.txtDiv {
    position: absolute;
    left: 15px;
    top: 0px;
    background: rgba(255,0,0,0.5);
    color: #fff;
}
body{
    margin: 0px;
}
.platform{
    background-color: black
}
h1{
    color: red
}